.prism-field {
  a {
    color: rgba(var(--colors-primary-500));

    &:hover {
      color: rgba(var(--colors-primary-400));
    }
  }
}
html:not(.dark) {
    @import "prismjs/themes/prism-coy";
}
html.dark {
    @import "prismjs/themes/prism-okaidia";
}
