.prism-field {
    a {
        color: rgba(var(--colors-primary-500));

        &:hover {
            color: rgba(var(--colors-primary-400));
        }
    }

    pre {
        border-radius: .5rem;
    }
}

@import "prism-themes";
